---
layout: default
ogType: article
seoSchemaPageType: Article
eleventyComputed:
  canonical: "{{ env.site }}/{{ title | slugify }}/"
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/faqs.html" as faqs with context %}

{{ navBar.navBarComponent('bg-[color:var(--light-blue)] xl:bg-transparent') }}

<div class="sm:max-w-xl mx-auto md:max-w-2xl lg:max-w-3xl xl:max-w-5xl">

  <div class="bg-white py-8 px-8">

    <div class="container 2xl:max-w-6xl mt-6 flex flex-col">

      <div class="md:pb-5 mb-5 border-b border-gray-200 flex flex-col md:flex-row md:justify-between">
        <h1 class="text-5xl text-left inline-block mb-5 md:mb-0 tracking-normal">{{ title }}</h1>
      </div>
  
      <article class="prose my-4 max-w-none flex flex-col md:block prose-hr:clear-both prose-h2:md:mt-0 prose-li:m-0 prose-h3:my-2 prose-img:my-3">
  
          {{ content | safe }}

          {% if 'faq' in tags %}
          
            {{ faqs.faqs() }}

          {% endif %}

          {% if 'resource' in tags %}
          
            <div class="text-right">
              <small>&copy; Seven Skills Tutoring {{ helpers.currentYear() }}. All rights reserved.</small>
            </div>

          {% endif %}

      </article>
  
    </div>

  </div>
</div>

{% include "./partials/footer.html" %}
