@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root {
  --primary-color: #0b336f;
  --primary-hover: #08224a;
  --affiliate-color: #FFD814;
  --affiliate-hover: #F7CA00;
}

.font-class {
  font-family: "Hammersmith One";
  color: #334155;
}

h1, h2, h3, p, a, strong {
  font-family: "Hammersmith One" !important;
  color: #334155 !important;
  letter-spacing: 0 !important;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.bg-color {
  background: #e1f1fd;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }
