@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root {
  --white: #ffffff;
  --dark: #334155;
  --light-blue: #e1f1fd;
  --lightest-gray: #f9fafb;
  --very-light-gray: #dcdcdc;
  --light-gray: #9CA3AF;
  --light-green: #B8E7A6;
  --light-purple: #F2CDED;
  --dark-purple: #c8a1c2;
  --light-yellow: #FFFF66;
  --navigationHeight: 124px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--dark);
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1, h2, h3, h4 {
  @apply tracking-tighter;

  font-weight: 700;
}

h1 {
  @apply text-3xl sm:text-4xl tracking-tighter lg:text-5xl mb-5;
}

h2 {
  @apply text-2xl sm:text-3xl lg:text-4xl mb-4;
}

h3, h4 {
  @apply text-xl sm:text-2xl lg:text-3xl mb-4;
}

.stripe {
  background-size: 100%;
  background-repeat: no-repeat; /* To avoid multiple instances */
  background:
    linear-gradient(135deg, var(--light-blue) 5%, #ffffff 5%, #ffffff 15%, transparent 15%),
    linear-gradient(135deg, transparent 93%, #ffffff 93%, #ffffff 96%, var(--light-blue) 96%);
}

.menu-styles {
  @apply absolute left-0 border-b border-b-white pb-6 shadow-[rgba(0,0,0,0.1)_0px_5px_0px_0px] top-[132px] xs:top-[100px];
}

.bg-color {
  background: var(--light-blue);
}

@media screen(md) {
  article p:first-of-type {
    margin-top: 0;
  }
}

/*
  Article image component
*/
img.Centre {
  @apply mx-auto;
}

img.Left {
  @apply m-0 md:float-left md:pr-12 md:pb-8 md:max-w-[50%];
}

img.Right {
  @apply m-0 md:float-right md:pl-12 md:pb-8 md:max-w-[50%];
}

.youtube-embed {
  @apply flex flex-col items-center mt-7
}

.youtube-embed.Left {
  @apply m-0 lg:float-left lg:pr-12 lg:pb-8 mt-0;
}

.youtube-embed.Right {
  @apply m-0 lg:float-right lg:pl-12 lg:pb-8 mt-0;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }
