@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root {
  --dark: #334155;
  --light-blue: #e1f1fd;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: var(--dark);
}

h1, h2, h3, h4, h5, .hammersmith-font {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  color: var(--dark);
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.menu-styles {
  @apply absolute left-0 border-b border-b-white pb-6 shadow-[rgba(0,0,0,0.1)_0px_5px_0px_0px] top-[132px] xs:top-[100px];
}

.bg-color {
  background: var(--light-blue);
}

/*
  Article image component
*/
img.Centre {
  @apply mx-auto;
}

img.Left {
  @apply m-0 md:float-left md:pr-12 md:pb-8 md:max-w-[50%];
}

img.Right {
  @apply m-0 md:float-right md:pl-12 md:pb-8 md:max-w-[50%];
}

.youtube-embed {
  @apply flex flex-col items-center mt-7
}

.youtube-embed.Left {
  @apply m-0 lg:float-left lg:pr-12 lg:pb-8 mt-0;
}

.youtube-embed.Right {
  @apply m-0 lg:float-right lg:pl-12 lg:pb-8 mt-0;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }
