{% import "../components/logo.html" as owlLogo with context %}

<footer class="w-full mt-8">
  <div class="sm:max-w-xl mx-auto md:max-w-2xl xl:max-w-5xl">
      
    <div class="px-6 xl:px-0 grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-6 gap-3 py-10 gap-y-8 sm:justify-items-center xl:justify-items-start">
      <div class="col-span-full xl:col-span-3 xl:mb-0 flex flex-col items-center xl:items-start">

        <a href="/">
          {{ owlLogo.logo(width='100px', height='54px', maxWidthClasses='max-w-28', lazy='loading="lazy"') }}
        </a>

        {% if settings.siteName %}
          <p class="py-1 text-center xl:text-left">
            <small class="subtle-text-on-light-background">
              <a
                href="/"
                class="hover:opacity-70">
                {{ settings.siteName }}
              </a>
            </small>
          </p>
        {% endif %}

        {% if settings.townCity %}
          <p class="py-1 text-center xl:text-left">
            <small class="subtle-text-on-light-background">        
              {{ settings.townCity | safe }}
            </small>
          </p>
        {% endif %}

        {% if settings.email %}
          <p class="py-1 text-center xl:text-left">
            <small class="subtle-text-on-light-background">
              <a href="mailto:{{ settings.email }}" class="py-2 break-all">Email {{ settings.email }}</a>
            </small>
          </p>
          {% endif %}

        {% if settings.phone %}
          <p class="py-1 mb-2 text-center xl:text-left">
            <small class="subtle-text-on-light-background">        
              <a href="tel:{{ settings.phone }}" class="py-2">Call {{ settings.phone }}</a>
            </small>
          </p>
        {% endif %}
          
      </div>

      {% if navigation.firstLevelItems %}
        {% for item in navigation.firstLevelItems %}
          {% if item.text != 'Home' and item.text != 'Contact' %}
            <div class="mx-auto w-full xl:w-auto text-center xl:text-left {% if loop.index === 4 %}col-span-2 sm:col-span-1{% endif %}">
              <div class="mb-2 font-medium text-lg">{{ item.text }}</div>

              {% if item.secondLevelItems %}
                <ul class="text-sm transition-all duration-500">
                  {% for subItem in item.secondLevelItems %}
                    <li class="py-3">
                      <a
                        href="{{ subItem.url }}"
                        class="hover:opacity-70">
                        {{ subItem.text }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
      
    <div class="py-7 border-t border-solid border-t-gray-300">
      <div class="flex items-center justify-center flex-col xl:justify-between xl:flex-row">
        <div class="text-center xl:text-left">
          <p class="subtle-text-on-light-background py-1">
            <small>© {{ settings.siteName }} {{ helpers.currentYear() }}. All rights reserved.</small>
          </p>

          <p class="subtle-text-on-light-background py-1">
            <small>
              <a
                class="hover:opacity-70"
                href="/privacy-policy/">
                Privacy Policy
              </a>
            </small>
          </p>
          
          {% if settings.poweredBy %}
          <p class="py-1">
            <small class="subtle-text-on-light-background">
              Website by <a href="{{ settings.poweredByUrl }}" class="hover:opacity-70" target="_blank" rel="noopener">{{ settings.poweredBy }}</a>
            </small>
          </p>
        {% endif %}
        </div>

        <div class="flex mt-4 space-x-4 sm:justify-center xl:mt-0 ">
          <a
            href="#"
            target="_blank"
            rel="noopener"
            class="w-9 h-9 rounded-full bg-gray-500 flex justify-center items-center hover:opacity-70">
            <svg
              width="20px"
              height="20px"
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current text-white"
              viewBox="0 0 320 512">
              <title>Facebook</title>
              <path
                d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
              />
            </svg> 
          </a>

          <a
            href="#"
            target="_blank"
            rel="noopener"
            class="w-9 h-9 rounded-full bg-gray-500 flex justify-center items-center hover:opacity-70">
            <svg
              width="20px"
              height="20px"
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current text-white"
              viewBox="0 0 448 512">
              <title>LinkedIn</title>
              <path
                d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
              />
            </svg>
          </a>

        </div>
      </div>
    </div>
  </div>
</footer>
